.form-items {
  width: 100%;
  margin: auto;
}


.img-fluid {
display: block;
max-width: 100%;
height: auto;
} 

.image-list img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.item-btn {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}